  <div class="chat" >
    <div class="chat_top">
      <h2>techroom1</h2>
      <a href="#" class="end_chat_btn">チャットを終了する</a>
    </div>  
    <div class="chat_main">
      <div class="chat_box">
        <div class = "chat_name"><a>Tom</a>
          <span class = "chat-time">2020/3/31(wed) 12:43:30</span>
        </div>
        <div class = "chat_text"><p>Good Morning</p></div>
      </div>  
      <div class="chat_box">
        <div class = "chat_name"><a>Tom</a>
          <span class = "chat-time">2020/3/31(wed) 12:43:30</span>
        </div>
        <div class = "chat_text"><p>Good Morning</p></div>
      </div>  
    </div>
    <div class="chat_foot">
      <div class="form-input">
          <input class="form-message" placeholder= "type a message">
          <label class="form-image">
            <span class="image-file">画像</span>
            <input type="file" class="hidden">
          </label>
      </div>
        <input class="form-submit" type="submit" value="送信">
    </div>
  </div>  