/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side_bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.main_chat {
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}
.side_top {
  height: 100px;
  background-color: #253141;
  padding:0px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.side_top h2 {
  font-size: 16px;
  color: #FAFAFA;
} 
.make_chat_btn {
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration-line: none;
}

.side_list {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding:0px 20px;
  overflow: scroll;
}
.chat_rooms {
  color: #FFFFFF;
  display:flex;
  flex-direction:column;
  margin:20px 0px 40px 0px;
}

.chat_top {
  height: 100px;
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  padding:0px 40px;
}
.chat_main {
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  width: calc(100vw - 300px);
  padding-top: 46px 40px 0px ;
}
.chat_foot {
  height: 90px;
  background-color: #DDDDDD;
  width: calc(100vw - 300px);
  padding:20px 40px;
}